body {
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
}

#stage {
  width: 400px;
  height: 80px;
  -webkit-perspective: 0px;
  overflow: hidden;
}

#rotate {
  margin: 0 5px 0 0;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  float: left;
}

.ring {
  background: #fff;
  margin: 0 auto;
  height: 110px;
  width: 400px;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*.ring > :nth-child(odd) {
  background-color: #995C7F;
}

.ring > :nth-child(even) {
  background-color: #835A99;
}*/

.poster {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 1;
  color: rgba(0,0,0,1);
border: 1px solid #f00;  
}

.a {
  transform: rotateX(0deg) translateZ(28px); 
}
.b {
  transform: rotateX(-120deg) translateZ(28px); 
}
.c {
  transform: rotateX(-240deg) translateZ(28px); 
}

.poster > p {
  font-family: 'Georgia', serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 28px;
}

#ring-1, #ring-2, #ring-3 {
  animation-name: x-spin;
}

#ring-1 {
  animation-duration: 0.1s;
  
}

#ring-2 {
  animation-duration: 3.8s;
}

#ring-3 {
  animation-duration: 5s;
}

@keyframes x-spin {
  0%   { transform: rotateX(0deg) }
  33%  { transform: rotateX(-120deg) }
  66%  { transform: rotateX(-240deg) }
  100% { transform: rotateX(-360deg) }
}



