body {
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
}

#stage {
  margin: 80px auto;
  width: 600px;
  height: 400px;
  /*
  
  Setting the perspective of the contents of the stage
  but not the stage itself
  
  */
  -webkit-perspective: 5000;
}

#rotate {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  /* Ensure that we're in 3D space */
  -webkit-transform-style: preserve-3d;
  /*
  Make the whole set of rows use the x-axis spin animation
  for a duration of 7 seconds, running infinitely and linearly
  */
 /* -webkit-animation-name: x-spin;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;*/
}

.ring {
  margin: 0 auto;
  height: 110px;
  width: 600px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.ring > :nth-child(odd) {
  background-color: #995C7F;
}

.ring > :nth-child(even) {
  background-color: #835A99;
}

.poster {
  position: absolute;
  left: 250px;
  width: 100px;
  height: 100px;
  opacity: 1;
  color: rgba(0,0,0,1);
  -webkit-border-radius: 10px;
}
.a {
  transform: rotateX(0deg) translateZ(40px); 
}
.b {
  transform: rotateX(120deg) translateZ(40px); 
}
.c {
  transform: rotateX(240deg) translateZ(40px); 
}

.done {
  transform: rotate(0deg);
}

.poster > p {
  font-family: 'Georgia', serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 28px;
}

/*
Set up each row to have a different animation duration
and alternating y-axis rotation directions.
*/
#ring-1 {
  -webkit-animation-name: x-spin;
   -webkit-animation-duration: 2.6s; 
  
}

#ring-2 {
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 4s;
}

#ring-3 {
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes x-spin {
  0%    { -webkit-transform: rotateX(0deg); }
  50%   { -webkit-transform: rotateX(120deg); }
  100%  { -webkit-transform: rotateX(240deg); }
}



